@import "tailwindcss";

@theme {
  --color-darkblue: #223B62;  /*Title,*/
  --color-babyblue: #21A6D3;
  --color-seriousblue: #498397;
  --color-deapseablue: #1441B3;
  --color-wallpaintblue: #3071AB;
}

#song-text p {
  @apply mb-5;
}

.highlighted {
  @apply bg-yellow-200;
}
