@import "tailwindcss";

.song-text p {
    margin-bottom: 1.5rem;
  }
  

  .highlight {
    background-color: #fef08a; /* Yellow background */
  }

  .tamil-text {
    font-family: 'Noto Sans Tamil', sans-serif;
  }
  